asgiref==3.7.2
certifi==2024.2.2
chardet==3.0.4
Django==4.2.1
django-debug-toolbar==4.3.0
django-jazzmin==2.6.0
dnspython==2.6.0
googletrans==3.0.0
gunicorn==21.2.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.3.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
packaging==24.0
Pillow==10.1.0
pymongo==4.6.1
rfc3986==1.5.0
shortuuid==1.0.13
sniffio==1.3.1
sqlparse==0.4.4
tabulate==0.9.0
tzdata==2023.3
whitenoise==6.6.0