  {% extends 'doctorBase.html' %} {% block content %} {% load static %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.min.js"></script>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
      <div
        class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap"
      >
        <div class="d-flex align-items-center flex-wrap mr-1">
          <div class="d-flex align-items-baseline flex-wrap mr-5">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
              Current Session
            </h5>

            <ul
              class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm"
            >
              {% comment %}
              <li class="breadcrumb-item">
                <a href="" class="text-muted"> General </a>
              </li>
              <li class="breadcrumb-item">
                <a href="" class="text-muted"> Empty Page </a>
              </li>
              {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column-fluid">
      <div class="container">
        {% comment %}
        <p>Page content goes</p>
        {% endcomment %} {% comment %}
        <p>Page content goes</p>
        {% endcomment %} {% comment %}
        <p>Page content goes</p>
        {% endcomment %} {% comment %}
        <p>Page content goes</p>
        {% endcomment %} {% comment %}
        <p>Page content goes</p>
        {% endcomment %} {% comment %}
        <p>Page content goes</p>
        {% endcomment %}
        <div class="card">
          <form method="post" action="{% url 'beginSession' user_id=appointment.doctor.user.id appointment_id=appointment.id %}" class="form">
            <div class="card-body">
              {% if messages.error %}
              <div
                class="alert alert-custom alert-light-danger fade show mb-5"
                role="alert"
              >
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{messages.error}}</div>
                <div class="alert-close">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                  </button>
                </div>
              </div>
              {% elif messages.success %}
              <div
                class="alert alert-custom alert-light-primary fade show mb-5"
                role="alert"
              >
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">{{messages.success}}</div>
                <div class="alert-close">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                  </button>
                </div>
              </div>
              {% endif %}
              <div class="form-group row">
                <div class="col-lg-6">
                  <label class="font-weight-bolder">First name:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                    placeholder="Enter First name"
                    required
                    disabled
                    value="{{appointment.patient.user.first_name}}"
                  />
                  <span class="form-text text-muted"
                    >Please enter First name</span
                  >
                </div>
                <div class="col-lg-6">
                  <label class="font-weight-bolder">Last Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="last_name"
                    placeholder="Enter Last Name"
                    required
                    disabled
                    value="{{appointment.patient.user.last_name}}"
                  />
                  <span class="form-text text-muted">Please enter Last Name</span>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-6">
                  <label class="font-weight-bolder">Doctors</label>

                  <select
                    required
                    name="status"
                    disabled

                    class="form-control"
                    placeholder="asdad"
                    id="specialty"
                  >
                                <option value="PENDING" {% if appointment.status == 'PENDING' %}selected{% endif %}>PENDING</option>

                                <option value="APPROVED" {% if appointment.status == 'APPROVED' %}selected{% endif %}>APPROVED</option>
                                <option value="REJECTED" {% if appointment.status == 'REJECTED' %}selected{% endif %}>REJECTED</option>
                                <option value="CANCELLED" {% if appointment.status == 'CANCELLED' %}selected{% endif %}>CANCELLED</option>
                                <option value="COMPLETED" {% if appointment.status == 'COMPLETED' %}selected{% endif %}>COMPLETED</option>

                  </select>
                  <span class="form-text text-muted">Please select Status</span>
                </div>
                <div class="col-lg-6">
                  <label class="font-weight-bolder">Purpose:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="purpose"
                    placeholder="Enter First name"
                    required
                    disabled
                    value="{{appointment.purpose}}"
                  />
                  <span class="form-text text-muted"
                    >Please enter purpose of visit</span
                  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label class="font-weight-bolder">Date and time</label>
                  <div
                    class="input-group input-group-solid date"
                    id="kt_datetimepicker_3"
                    data-target-input="nearest"
                  >
                    <input
                      name="date_and_time"
                      type="text"
                      required
                      disabled
                      value="{{appointment.date}} {{appointment.time}}"
                      class="form-control form-control-solid datetimepicker-input"
                      placeholder="Select date &amp; time"
                      data-target="#kt_datetimepicker_3"
                    />
                    <div
                      class="input-group-append"
                      data-target="#kt_datetimepicker_3"
                      data-toggle="datetimepicker"
                    >
                      <span class="input-group-text">
                        <i class="ki ki-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="font-weight-bolder">Doctors</label>

                  <select
                    required
                    name="doc_id"
                    class="form-control"
                    disabled

                    id="specialty"
                    value="{{appointment.doctor.id}}"
                  >
                    <option></option>
                    <!-- prettier-ignore -->
                    {% for doctor in doctors %}
                    <!-- prettier-ignore -->
                    {%if appointment.doctor.id == doctor.id %}
                    <option selected value="{{doctor.id}}">
                      {{doctor.user.first_name}}--- {{doctor.specialty}}
                    </option>
                    {% else %}
                    <option value="{{doctor.id}}">
                      {{doctor.user.first_name}}--- {{doctor.specialty}}
                    </option>
                    {% endif %} {% endfor %}
                  </select>
                  <span class="form-text text-muted">Please select a doctor</span>
                </div>
              </div>
              
              <div class="form-group mb-1">
              <label for="exampleTextarea">Doctor note</label>
              <textarea name="description" class="form-control" id="exampleTextarea" rows="3" style="height: 111px;"></textarea>
            </div>
              <input type="hidden" name="user_id" value="{{patient.id}}" />
            </div>

            <!--begin::Repeater-->
            <form method="post" action="{% url 'beginSession' user_id=appointment.doctor.user.id appointment_id=appointment.id %}">
              {% csrf_token %}
              <div class="form-group ">
                <div id="repBody">
                      <div data-repeater-item>
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <label class="form-label">Drug Name:</label>
                                  <select name="drug_name" class="form-control mb-2 mb-md-0">
                                      {% for drug in drugs %}
                                          <option value="{{ drug.name }}">{{ drug.name }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                              <div class="col-md-3">
                                  <label class="form-label">Number:</label>
                                  <input type="number" name="quantity" class="form-control mb-2 mb-md-0" placeholder="Enter quantity" />
                              </div>
                              <div class="col-md-4">
                                  <a href="javascript:;" data-repeater-delete class="btn btn-sm btn-light-danger mt-3 mt-md-8">
                                      <i class="ki-duotone ki-trash fs-5"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                                      Delete
                                  </a>
                              </div>
                          </div>
                      </div></div>
              </div>
              <!--end::Form group-->
          
              <!--begin::Form group-->
              <div class="form-group mt-5">
                  <a id="onPress" class="btn btn-light-primary">
                      <i class="ki-duotone ki-plus fs-3"></i>
                      Add
                  </a>
              </div>
              <!--end::Form group-->
              <div class="card-footer">
                  <div class="row">
                      <div class="col-lg-6">
                          <button type="submit" class="btn btn-primary mr-2">
                              Approve
                          </button>
                      </div>
                  </div>
              </div>
          </form>
          <script>

            const repPress =  document.getElementById('onPress')
            console.log(repPress)
  
            const repHtml = `
            <div data-repeater-item>
                          <div class="form-group row">
                              <div class="col-md-3">
                                  <label class="form-label">Drug Name:</label>
                                  <select name="drug_name" class="form-control mb-2 mb-md-0">
                                      {% for drug in drugs %}
                                          <option value="{{ drug.name }}">{{ drug.name }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                              <div class="col-md-3">
                                  <label class="form-label">Number:</label>
                                  <input type="number" name="quantity" class="form-control mb-2 mb-md-0" placeholder="Enter quantity" />
                              </div>
                              <div class="col-md-4">
                                  <a href="javascript:;" data-repeater-delete class="btn btn-sm btn-light-danger mt-3 mt-md-8">
                                      <i class="ki-duotone ki-trash fs-5"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                                      Delete
                                  </a>
                              </div>
                          </div>
                      </div>`

                      const repBody = document.getElementById('repBody')

                      repPress.addEventListener('click',()=>{
                        repBody.insertAdjacentHTML('beforeend',repHtml)

console.log("Ball")
})
          </script>
  <script src="{% static 'assets/js/pages/crud/forms/widgets/bootstrap-timepicker.js?v=7.0.6' %}"></script>
  <script src="{% static 'assets/js/pages/crud/forms/widgets/bootstrap-datetimepicker.js?v=7.0.6' %}"></script>
  {% endblock content %}
