{% extends 'adminBase.html' %} {% block content %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
    <div
      class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap"
    >
      <div class="d-flex align-items-center flex-wrap mr-1">
        <div class="d-flex align-items-baseline flex-wrap mr-5">
          <h5 class="text-dark font-weight-bold my-1 mr-5">
            Edit Patient Data
          </h5>

          <ul
            class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm"
          >
            {% comment %}
            <li class="breadcrumb-item">
              <a href="" class="text-muted"> General </a>
            </li>
            <li class="breadcrumb-item">
              <a href="" class="text-muted"> Empty Page </a>
            </li>
            {% endcomment %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column-fluid">
    <div class="container">
      {% comment %}
      <p>Page content goes</p>
      {% endcomment %} {% comment %}
      <p>Page content goes</p>
      {% endcomment %} {% comment %}
      <p>Page content goes</p>
      {% endcomment %} {% comment %}
      <p>Page content goes</p>
      {% endcomment %} {% comment %}
      <p>Page content goes</p>
      {% endcomment %} {% comment %}
      <p>Page content goes</p>
      {% endcomment %}
      <div class="card">
        <form method="post" class="form">
          <div class="card-body">
            {% if messages.error %}
            <div
              class="alert alert-custom alert-light-danger fade show mb-5"
              role="alert"
            >
              <div class="alert-icon"><i class="flaticon-warning"></i></div>
              <div class="alert-text">{{messages.error}}</div>
              <div class="alert-close">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
              </div>
            </div>
            {% elif messages.success %}
            <div
              class="alert alert-custom alert-light-primary fade show mb-5"
              role="alert"
            >
              <div class="alert-icon"><i class="flaticon-warning"></i></div>
              <div class="alert-text">{{messages.success}}</div>
              <div class="alert-close">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
              </div>
            </div>
            {% endif %}
            <div class="form-group row">
              <div class="col-lg-6">
                <label>First Name:</label>
                <input
                  type="text"
                  class="form-control"
                  name="first_name"
                  placeholder="Enter First name"
                  required
                  value="{{patient.user.first_name}}"
                />
                <span class="form-text text-muted"
                  >Please enter your First name</span
                >
              </div>
              <div class="col-lg-6">
                <label>Last Name:</label>
                <input
                  type="text"
                  class="form-control"
                  name="last_name"
                  placeholder="Enter Last name"
                  required
                  value="{{patient.user.last_name}}"
                />
                <span class="form-text text-muted"
                  >Please enter your Last name</span
                >
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>User Name:</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  value="{{patient.user.username}}"
                  placeholder="Enter User name"
                  required
                />
                <span class="form-text text-muted"
                  >Please enter your User name</span
                >
              </div>
              <div class="col-lg-6">
                <label>Password:</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Enter Password"
                  required
                  value="{{patient.user.password}}"
                />
                <span class="form-text text-muted"
                  >Please enter your Password</span
                >
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Gender</label>
                <div class="radio-inline">
                  {% if patient.gender == 'female' %}
                  <label class="radio">
                    <input value="male" type="radio" name="gender" />
                    <span></span>
                    Male
                  </label>
                  <label class="radio">
                    <input
                      checked="checked"
                      value="female"
                      type="radio"
                      name="gender"
                    />
                    <span></span>
                    Female </label
                  >{% elif patient.gender == 'male'%}
                  <label class="radio">
                    <input
                      checked="checked"
                      value="male"
                      type="radio"
                      name="gender"
                    />
                    <span></span>
                    Male
                  </label>
                  <label class="radio">
                    <input value="female" type="radio" name="gender" />
                    <span></span>
                    Female
                  </label>
                  {% endif %}
                </div>
              </div>

              <div class="col-lg-6">
                <label for="specialty">Date of birth</label>
                <div class="">
                  <div
                    class="input-group input-group-solid date"
                    id="kt_datetimepicker_3"
                    data-target-input="nearest"
                  >
                    <input
                      value="{{patient.date_of_birth}}"
                      required
                      type="text"
                      name="date_of_birth"
                      class="form-control form-control-solid datetimepicker-input"
                      placeholder="Select date & time"
                      data-target="#kt_datetimepicker_3"
                    />
                    <div
                      class="input-group-append"
                      data-target="#kt_datetimepicker_3"
                      data-toggle="datetimepicker"
                    >
                      <span class="input-group-text">
                        <i class="ki ki-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" name="doc_id" value="{{patient.id}}" />
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-lg-6">
                <button type="submit" class="btn btn-primary mr-2">
                  Update
                </button>
              </div>
            </div>
          </div>
        </form>
        <form class="px-10" method="post">
          <div>
            <button
              name="delete"
              value="{{patient.user.id}}"
              type="submit"
              class="btn btn-danger mr-2"
            >
              delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/pages/crud/forms/widgets/bootstrap-datetimepicker.js?v=7.0.6"></script>
{% endblock content %}
