{% load static %}
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <title>Veterinary Management System</title>
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>
<body>
  <video autoplay muted loop id="bg-video">
    <source src="../static/assets/css/test.mp4" type="video/mp4">
  </video>
<!-- partial:index.partial.html -->
<div class="wrapper" style="position: relative;"> <!-- remember to change to pic remove "position: relative;" -->
  <div class="login_box">
    <form method="post">
      {% csrf_token %}
    <center>
      <h2>VMS</h2>
    </center>
    
    <div class="login-header">
      <span style="font-size: 24px; text-align: center;">Patient Login</span>
    </div>


    <div class="input_box">
      <input type="text" id="user" class="input-field" name="username" required>
      <label for="user" class="label">Username</label>
      <i class="bx bx-user icon"></i>
    </div>

    <div class="input_box">
      <input type="password" id="pass" class="input-field" name="password" required>
      <label for="pass" class="label">Password</label>
      <i class="bx bx-lock-alt icon"></i>
    </div>

    <div class="remember-forgot">
      <div class="remember-me">
        <input type="checkbox" id="remember">
        <label for="remember">Remember me</label>
      </div>

      <div class="forgot">
        <a href="#">Forgot password?</a>
      </div>
    </div>

    <div class="input_box">
      <button class="input-submit">Log In</button>
    </div>
    

    <div class="register">
      <span>Don't have an account? <a href="{% url 'PatientSignUp' %}">Register</a></span>
    </div>
  </div>
</form>
</div>
<!-- partial -->
  
</body>
</html>
